/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('banner.css');
@import url('button.css');
@import url('card.css');
@import url('container.css');
@import url('footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}


/* Custom design below! */
